/* General Rules */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

body{
    background-color: rgb(199, 199, 199);
    overflow: hidden;
}

:root{
    font-family: "Open Sans";
}

/* Header */

header{
    display: flex;
    justify-content: center;
    gap: 20vw;
    height: 12vh;
}

header img{
    width: 180px;
    align-self: center;
    cursor: pointer;
}

header div{
    align-self: center
}

header div p{
    font-size: 1.5rem;
    transition: 2s ease-in-out;
    cursor: pointer;
    
}

header div p:hover{
    transform: scale(2);
}

/* Main */

main{
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container-main{
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 20px;
    padding-top: 10px;
    width: 970px;
    height: 300px;
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
    position: relative;
}

.container-main h1{
    align-self: center;
}

.terms-accept{
    cursor: pointer;
    color: white;
}

.button-troll{
    display: none;
    position: absolute;
    top: 70%;
    align-self: center;
    background-color: aquamarine;
    padding: 15px;
    border-radius: 30px;
    cursor: pointer;
    animation-name: crazy-colors;
    animation-duration: 300ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}


@keyframes crazy-colors {
    
    0% {
        background-color: aqua;
    }

    25%{
        background-color: blueviolet;
    }

    50%{
        background-color: chocolate;
    }

    75%{
        background-color: rgb(0, 139, 56);
    }

    100%{
        background-color: fuchsia;
    }

    from {
        padding: 15px;
    }

    to {
        padding: 15px 25px 15px 25px;
    }
}

.container-search{
    align-self: center;
    display: flex;
}

.container-search button{
    order: 2;
    height: 60px;
    width: 120px;
    background-color: red;
    color: white;
    border: 5px solid red;
    cursor: pointer;
    
}

.container-search input{
    order: 1;
    padding: 5px;
    width: 450px;
    border: 5px solid red;
    border-radius: 5px 0 0 5px;
}

.terms-container{
    align-self: center;
}

section{
    margin-top: 100px;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.description-container{
    align-self: center;
    display: flex;
    flex-direction: column;
    width: 970px;
    text-align: center;
    gap: 20px;
}

.cookies-accept{
    display: none;
    position: absolute;
    z-index: 99;
    width: 100vw;
    height: 100dvh;
    background-color: rgba(42, 42, 42, 0.8); 
    backdrop-filter: blur(4px); 
    top: 0;
    left: 0;
}

.container-cookies{
    width: 800px;
    height: 200px;
    background-color: white;
    position: absolute;
    top: 25%;
    left: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 40px;
    border-radius: 25px;
}

.container-cookies div{
    align-self: center;
    display: flex;
    gap: 20px;
}

.container-cookies div label{
    width: 100px;
    height: 40px;
    border-radius: 15px;
    border: 0;
    background-color: rgb(182, 135, 135);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.container-cookies div label input{
    position: absolute;
    opacity: 0;
}

.terms-condition-container{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100dvh;
    background-color: rgba(164, 164, 164, 0.508);
    backdrop-filter: blur(5px);
    z-index: 99;
}

.terms-condition{
    position: absolute;
    top: 10%;
    left: 30%;
    width: 600px;
    height: 80dvh;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.all-terms{
    margin: 60px 60px 0 60px;
    width: 80%;
    height: 80%;
    background-color: rgb(212, 212, 212);
    overflow-y: scroll;
    scrollbar-width: none;
    text-align: justify;
}

.accepted-pls{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.left-container{
    background-color: white;
    position: absolute;
    width: 15vw;
    height: 100dvh;
    top: 0;
    left: 0;
    z-index: 3;
    display: none;
    flex-direction: column;
    animation-name: amazing-colors;
    animation-duration: 200ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;

}
.left-container svg{
    width: 20px;
    align-self: flex-end;
    background-color: gray;
    position: absolute;
    cursor: pointer;
    z-index: 10;
}

.left-container img{
    width: 150px;
    align-self: center;
}

.right-container{
    background-color: white;
    position: absolute;
    width: 15vw;
    height: 100dvh;
    top: 0;
    right: 0;
    z-index: 3;
    display: none;
    flex-direction: column;
    animation-name: amazing-colors;
    animation-duration: 200ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}

.right-container svg{
    width: 20px;
    align-self: flex-end;
    background-color: gray;
    position: absolute;
    cursor: pointer;
    z-index: 10;
}

.right-container img{
    width: 200px;
    align-self: center;
}


.center-container{
    background-color: white;
    position: absolute;
    width: 70vw;
    height: 15dvh;
    bottom: 0;
    left: 15%;
    display: none;
    flex-direction: column;
    z-index: 2;
    animation-name: amazing-colors;
    animation-duration: 200ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}

@keyframes amazing-colors{
    0%{
        background-color: red;
    }
    10%{
        background-color: darkred;
    }
    20%{
        background-color: orange;
    }
    30%{
        background-color: darkorange;
    }
    40%{
        background-color: yellow;
    }
    50%{
        background-color: gold;
    }
    60%{
        background-color: green;
    }
    70%{
        background-color: lime;
    }
    80%{
        background-color: blue;
    }
    90%{
        background-color: navy;
    }
    100%{
        background-color: purple;
    }
}

.center-container svg{
    width: 20px;
    align-self: flex-end;
    background-color: gray;
    cursor: pointer;
    z-index: 10;
}

.spider-man{
    position: absolute;
    top: -33.3dvh;
    left: 65%;
}

.cat-flying{
    width: 250px;
    animation-name: cat-flyer;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    z-index: 2;
}

@keyframes cat-flyer{
    0%{
        transform: translateX(-20vw);
    }
    100%{
        transform: translateX(70vw);
    }
}

.aliens-div{
    position: absolute;
    display: flex;
}

.aliens-div img{
    width: 130px;
}