/* General Rules */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

body{
    background-color: rgb(199, 199, 199);
}

:root{
    font-family: "Open Sans";
}

/* Header */

header{
    display: flex;
    justify-content: center;
    gap: 20vw;
    height: 12vh;
}

header img{
    width: 180px;
    align-self: center;
    cursor: pointer;
}

header div{
    align-self: center
}

header div p{
    font-size: 1.5rem;
    transition: 2s ease-in-out;
    cursor: pointer;
    
}

header div p:hover{
    transform: scale(2);
}

/* Main */

main{
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container-main{
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 20px;
   padding-top: 10px;
    width: 970px;
    height: 300px;
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
}

.container-main h1{
    align-self: center;
}

.button-troll{
    align-self: center;
    background-color: aquamarine;
    padding: 15px;
    border-radius: 30px;
    cursor: pointer;
    /* animation-name: crazy-colors; */
    animation-duration: 300ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}


@keyframes crazy-colors {
    
    0% {
        background-color: aqua;
    }

    25%{
        background-color: blueviolet;
    }

    50%{
        background-color: chocolate;
    }

    75%{
        background-color: rgb(0, 139, 56);
    }

    100%{
        background-color: fuchsia;
    }

    from {
        padding: 15px;
    }

    to {
        padding: 20px 25px 20px 25px;
    }
}

.container-search{
    align-self: center;
    display: flex;
}

.container-search button{
    order: 2;
    height: 60px;
    width: 120px;
    background-color: red;
    color: white;
    border: 5px solid red;
    cursor: pointer;
    
}

.container-search input{
    order: 1;
    padding: 5px;
    width: 450px;
    border: 5px solid red;
    border-radius: 5px 0 0 5px;
}

.terms-container{
    align-self: center;
}

section{
    margin-top: 100px;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.description-container{
    align-self: center;
    display: flex;
    flex-direction: column;
    width: 970px;
    text-align: center;
    gap: 20px;
}